.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*

server/src/**
server/xatshome/**
server/out/*.js
!server/out/ats_lsp_out1.js